@import "~hover.css/css/hover-min.css";

nav {
    width: 100%;
    z-index: 10;
}

#search-bar:focus {
    /* border-color: transparent; */
    outline: none;
    border: none;
    box-shadow: none;
}

/* START CATEGORY SLIDER */
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.categories:before,
.categories:after {
    position: absolute;
    top: 0;
    width: 90px;
    height: 230px;
    content: "";
    z-index: 2;
}

.categories:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.categories:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.categories:hover .categories-slide {
    animation-play-state: paused;
}

.categories-slide {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    animation: 25s slide infinite linear;
}

.categories-slide div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.group1 {
    position: relative;
    overflow: hidden;
}

.group1:hover .overlay {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
/* END FOR CATEGORY SLIDER */

span i.unlike-heart.active {
    display: none;
}

/* Show the like heart and add the animation when active */
.like-heart {
    display: none; /* Hidden by default */
}

.like-heart.active {
    display: inline-block;
    animation: pop 0.5s ease forwards;
}

i.not-bookmarked.active {
    display: none;
}

i.bookmarked.active {
    display: inline-block;
    animation: pop 0.5s ease forwards;
}

@keyframes pop {
    0% {
        transform: scale(1); /* Normal size */
    }
    50% {
        transform: scale(1.4); /* Slightly larger */
    }
    100% {
        transform: scale(1); /* Back to normal size */
    }
}

.step ul {
    text-align: center;
}

.step ul li p {
    margin: auto;
}

.step ul li {
    display: inline-block;
    width: 200px;
    position: relative;
}

.dot::after {
    content: "";
    background: black;
    height: 2px;
    width: 205px;
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
    z-index: 0;
}

.step ul li:first-child .dot::after {
    width: 105px;
    left: 100px;
}

.step ul li:last-child .dot::after {
    width: 105px;
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 19%;
    background-color: black;
    opacity: 80%;
    padding-left: 50%;
    z-index: 100;
    margin: 0 auto;
}

.rating-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 20px; /* Ensures title space is reserved */
}
.rating label img {
    transition: background-color 0.3s;
}
.highlight {
    background-color: #f2b203 !important;
}

/* FOOD POST MODAL  */
/* Default hidden state */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal content box */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    position: relative;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

/* Open modal when link is clicked */
:target {
    display: flex;
}

.scrollable-content {
    scrollbar-width: none;
}
